*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav{
  background-image: url(../imagenes/pastelazul-textura2.jpg);
  width: 100%;
  height: 70px;
}
.principio{
  margin-left: 5%;
  line-height: 70px;
}
.principio img{
  width: 65px;
  height: 65px;
}
nav ul{
  float: right;
  float: top;
  margin-right: 3%;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin-left: 10px;
}
nav ul li a{
  background-color: rgba(235, 178, 230, 0.596);
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: Ink Free;
}
nav ul li a:hover{
  background-color: rgba(177, 86, 154, 0.5);
  color: rgba(224, 186, 221, 0.596);
}
body{
  background-image: url(../imagenes/pastelmorado-textura1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section{
  
  width: 1000px;
  height: 600px;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 3%;
  float: left;
  background: rgb(247, 217, 248);
  border-radius: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.322)
}
aside{
  background: white;
  width: 160px;
  height: 600px;
  margin-top: 2%;
  margin-right: 3%;
  margin-bottom: 3%;
  float: right;
  border-radius: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.322)
}

.salados{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
aside h2{
  text-align: center;
  font-family: Ink Free;
}