body{
    margin: 0;
}
h1{
  text-align:center;
  color: rgb(243, 168, 233);
}
header{
    display: flex;
    height: 70px;
    background-color: darkorchid;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Ink Free;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 90px;
    margin-right: 10px;
}
